/* styles.scss */
:root{
  --primary-color: #333;
--secondary-color: #eee;

}
#root{
  margin:0;
  padding:0;
}


body {
  font-family: sans-serif;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  margin:0;
  padding:0;
  overflow-x:hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}


footer{
  margin-top:3rem;
  height:5rem;
  display:flex;
  width:100%;
  background-color:var(--primary-color);
  color:var(--secondary-color);
  margin-bottom: 0;
  
}
.container ul li :hover{
  cursor: pointer;
}
